.create_post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}

#file_up::before{
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: white;
    color: #525c66;
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: white;
}

#file_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.create_post form{
    max-width: 500px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
    margin-top: 0.6cm;
    border-radius: 5px;
}

.create_post form .row{
    width: 100%;
    margin: 15px 0;
}

.create_post form .row :focus{
    border-color: #072344;
   
}

.create_post form input, textarea{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
}

.create_post form button{
    width: 150px;
    height: 40px;
    background: #072344;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 3cm;
    margin-top: 0.5cm;
    border-radius: 10px;
}

.create_post form button:hover {
    background: #064185;
    border:#072344;
  }

#createpostform {
    border: solid rgb(207, 205, 205) 1px;
    padding: 10px 50px 30px 50px;
}

#topic{
    margin-top: -13cm;
    margin-left: -1cm;
    position: absolute;
}

#btncreate{
    margin-top: 0.5cm;
    margin-left: 2.5cm;
    position: absolute;

}

#btnreset{
    margin-left: 0cm;
    position: relative;
}
#categorydwn{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 7px;
    border-color: rgb(212, 212, 219);
}