.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

/* ----------- Post Item ----------------- */
@import url("../utils/postItem/postItem.css");

.delete-all{
    text-align: right;
    margin: 20px;
}

.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}

.delete-all span{
    text-transform: uppercase;
    color: rgb(47, 28, 221);
    letter-spacing: 1.3px;
}

.delete-all button{
    border: 1.5px solid crimson;
    padding: 7px 25px 20px 25px;
    color: crimson;
    text-transform: uppercase;
    border-radius: 4px;
}

.delete-all button:hover{
    background-color: crimson;
    color: white;
    
}

/* ------------ Filters Menu ----------------- */
.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.filter_menu select, input{
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
}

.filter_menu input{
    flex: 1;
    margin: 0 10px;
}